* {
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background: darkblue url("imagem/espaco.jpg") left top no-repeat;
    height: 100vh;
    background-size:cover;
}
#astronauta{
    height: 100vh;
    background-image: url("imagem/astronauta.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
